.nav {
  min-height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: var(--font-weight-semibold);
  background-color: var(--blue-10);
  color: var(--gray-60);
}
