.table {
  width: 100%;
}

.tHead {
  background: var(--gray-30);
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(107, 114, 128);
  border-bottom: 2px solid var(--gray-30);
  background-color: var(--gray-20);
  & th {
    padding: 10px;
  }
}

.tBody {
  font-size: 1.1rem;

  & td {
    padding: 10px;
    text-align: center;
  }
}
