.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
}

.chartContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(140px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: 18px;
  justify-content: center;
}

.chart {
  min-width: 180px;
  border-radius: 10px;
  border: 1px solid var(--gray-40);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 20px 40px;
}

.chart:hover {
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media (min-width: 768px) {
  .chartContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .chartContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
