.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.topRankTableContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
}

.subTitle {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}
