.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semibold);
}

.subTitle {
  font-size: 1.6rem;
}

.table {
  width: 100%;
  border: 1px solid red;
}

.tHead {
  background: var(--gray-30);
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(107, 114, 128);
  border-bottom: 2px solid var(--gray-30);
  background-color: var(--gray-20);
  & th {
    padding: 10px;
  }
}

.tBody {
  font-size: 1.1rem;

  & td {
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}
