.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semibold);
}

.subTitle {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}
