.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
}

.subTitle {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}

.paymentMethodContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 40px;
}

.chart {
  border-radius: 10px;
  border: 1px solid var(--gray-40);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 80px 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
  .chartContainer {
    max-width: 1200px;
    flex-direction: row;
    column-gap: 80px;
  }
  .chart {
    max-width: 600px;
    flex: 1;
  }
}
