@import "./reset.css";

:root {
  --white: #ffffff;
  --black: #000000;

  /* 블루 계열 */
  --blue-10: #e0ebff;
  --blue-20: #b3d4ff;
  --blue-30: #80bbff;
  --blue-40: #4d9fff;
  --blue-50: #1d4ed8;
  --blue-60: #1a40b1;
  --blue-70: #15348a;
  --blue-80: #0f2863;
  --blue-90: #0b1c3c;

  /* 그레이 계열 */
  --gray-10: #f9fafb;
  --gray-20: #f3f4f6;
  --gray-30: #e5e7eb;
  --gray-40: #d1d5db;
  --gray-50: #9ca3af;
  --gray-60: #6b7280;
  --gray-70: #4b5563;
  --gray-80: #374151;
  --gray-90: #1f2937;

  /* 보라(Purple) 계열 */
  --purple-10: #f3e8ff;
  --purple-20: #e9d5ff;
  --purple-30: #d8b4fe;
  --purple-40: #c084fc;
  --purple-50: #a855f7;
  --purple-60: #9333ea;
  --purple-70: #7e22ce;
  --purple-80: #6b21a8;
  --purple-90: #581c87;

  --background: var(--blue-10);
  --foreground: var(--gray-70);

  /* device 사이즈 */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1280px;
}

html {
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
