.container {
  background-color: var(--gray-10);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  row-gap: 80px;
  padding: 20px;

  @media (min-width: 768px) {
    row-gap: 100px;
  }
  @media (min-width: 1280px) {
    row-gap: 120px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.searchContainer {
  & input {
    width: 100%;
    padding: 10px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-90);
  text-align: center;
}

.filterContainer {
  display: flex;
  justify-content: space-around;
}

.cardListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.card {
  border: 1px solid var(--gray-50);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
  .cardListContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, auto);
  }
}
