.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: var(--gray-10);
  padding: 20px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}
