.wrapper {
  padding: 20px;
}
.container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.row {
  display: flex;
  column-gap: 8px;
  /* justify-content: space-between; */
  margin-bottom: 6px;
}

.label {
  font-weight: 600;
}

.value {
  color: #333;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 800px;
  }
}
