.container {
  background-color: var(--gray-10);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 10px;
}

.searchContainer {
  & input {
    width: 100%;
    padding: 10px;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-90);
  text-align: center;
}

.filterContainer {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
}

.cardListContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

.card {
  border: 1px solid var(--gray-50);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
  }
}

@media (min-width: 1280px) {
  .container {
  }
}
